<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %} Bienvenido {% endblock %}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
    <!-- En todas las imagenes la ruta ya no es ../static/imagen , si no que es: /static/imagen -->
    <!--Para los mapas de la practica 8 tengo que añadir esto-->
    <!-- PARA LOS MAPAS-->
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    
    
    
<style>
  .map {
    height: 400px;
    width: 100%;
  }
</style>

    {% load static %} 
        <!-- <link  href="{% static 'estilo.css' %}" rel="stylesheet" media="screen">
        <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script> -->
        <script src="{% static 'js/funciones.js'%}"></script>
        <link rel="stylesheet" href="{% static 'mapas/css/mapa.css' %}" type="text/css">
        
    <meta charset="UTF-8">
    
</head> 
<body>
  
  <legend>MAPA DE GRANADA:</legend>
                <!-- <p id="Cord">{{coord}}</p> -->
                <div style="margin-left: auto; margin-right: auto;  max-width:48%; flex: auto;" class="col-xl-4 col-lg-5">
                  <h1 class="h3 mb-2 text-gray-800">Mapa</h1>
                        <div id="map" class="map"></div>
                        <div id="popup" class="ol-popup">
                          <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                          <div id="popup-content">Este es el <a href="javascript:;">texto</a> del bocadillo</div>
                        </div>
                        
                        <script type="text/javascript">
                          var lon = "{{longuitud}}"; //[-73.8786113 , quito el [
                          var lat = "{{latitud}}";//40.8502883] , quito el ]
                          var radio= "{{radio}}" 

                          var popup = document.getElementById('popup');
                          var contenidoPopup = document.getElementById('popup-content');
                          var botonCerrarPopup = document.getElementById('popup-closer');

                          /**
                           * Se crea una "sobrecapa" (overlay) para el popup
                           */
                            var overlay = new ol.Overlay({
                              element: popup,
                              autoPan: true,
                              autoPanAnimation: {
                                duration: 250
                              }
                            });

                           /**
                             * Codigo para ocultar el popup cuando se pulse en la cruz
                             * @return {boolean} Don't follow the href.
                            */
                        
                        botonCerrarPopup.onclick = function() {
                          overlay.setPosition(undefined);
                          botonCerrarPopup.blur();
                          return false;
                        };

                        var map=mapa(overlay);
                 
                        add_map_point(lon,lat,radio);
                        
                        
                        
                      

                        map.on('singleclick', function(evt) {
                          var coordinate = evt.coordinate;
                          var hdms = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
                          contenidoPopup.innerHTML = 'Coordenadas:<code>' + '<p>'+hdms[0]+'<br>'+ hdms[1]+'</p> '
                              '</code>';
                          overlay.setPosition(coordinate);
                          // if (map.getLayers().getLength() > 1) {
                          //   map.getLayers().pop();
                          // }
                          
                        });
                        </script>
                   
                   
                    <!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-3.6276394128799443%2C37.1949759077155%2C-3.618680834770203%2C37.19880460126361&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=18/37.19689/-3.62316">Ver mapa más grande</a></small> -->
                </div>
              
     
</body>
</html>