<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Static Example</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Añadir</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Añadir Observaciones</h6>
        {% if form.errors %}
          <!-- Error messaging -->
          <div >
            <div>
              <p>Hay algunos errores de informacion. corrija los siguientes errores</p>
              <ul>
                {% for field in form %}
                  {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- /Error messaging -->
        {% endif %}
      </div>
      <div id="id_date" class="card-body">
        <form method="POST" enctype='multipart/form-data' autocomplete="off" >{% csrf_token %}
          {{ form.as_p}}
          <a href="{% url 'observacion' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-info-circle"></i>
            </span>
            <span class="text">Volver Atras</span>
          </a>
          <button class="btn btn-success btn-circle btn-lg" type="submit" >Save</button>
      </form>
    </div>
  </div>
  <input id="pep" type="text">

  <script>
    $(function () {
    $("#id_hora_inicio").datetimepicker({
      format: 'd/m/Y H:i',
    });
    $("#id_hora_final").datetimepicker({
      format: 'd/m/Y H:i',
    });
    $("#pep").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });
  </script>

</body>
</html>