{% extends "index.html" %}

{% block pagina %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-100">Inscripciones</h1>
    <form method="POST"  action="{% url 'crear_observacion' %}">{% csrf_token %}
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Añadir Observacion</button>
    </form> </div>
{% endblock %}


{% block configuraciones %}
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Configuraciones</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div style="background: white;" class=" py-2 collapse-inner rounded">
            <h6 class="collapse-header">Edición:</h6>
            {% if request.user.tipoUsuario == "AT" %}
            <a class="collapse-item " href="{% url 'observacion' %}">Observaciones</a>
            {% endif %}

            <a class="collapse-item " href="{% url 'observatorio' %}">Observatorios</a>
            
            <a class="collapse-item active" href="{% url 'inscripcion' %}">Inscripciones</a>
          </div>
        </div>
      </li>
{% endblock %}

{% block listado %}
<!-- Begin Page Content -->
        <div style="width: 50%;"class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-100">Edicion</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Edicion Inscripciones</h6>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data" action="{% url 'modificar_inscripcion' %}">{% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-success btn-circle btn-lg" type="submit" >Save</button>
                <a href="{% url 'inscripcion' %}" class="btn btn-info btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-info-circle"></i>
                  </span>
                  <span class="text">Volver Atras</span>
                </a>
           <!-- {% if nom_observacion %} Envio el plato viejo, pk a la hora de modificar, debo buscar el viejo eh suplantarlo por el previamente nuevo
                 <input type="hidden" name="observatorio_viejo" value="{{nom_observatorio}}">LO PUEDO HACER CON SESIONES Y ME AHORRO TRABAJA, de echo en borrar lo hare asi 
                {% endif %} -->
            </form>
            <div>
              
            </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}

