{% extends "index.html" %}

{% block pagina %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Observaciones</h1>
    <a href="{% url 'crear_observacion' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      <span class="icon text-white-50">
        <i class="fas fa-download fa-sm text-white-50"></i>
      </span>
      <span class="text">Añadir Observacion</span>
    </a>
</div>
{% endblock %}



{% block listado %}
<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Listado</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Tabla de Observaciones</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Fecha Observacion</th>
                      <th>Usuario</th>
                      <th>Ver_Completo</th>
                      
                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Fecha Observacion</th>
                      <th>Usuario</th>
                      <th>Ver_Completo</th>
                      

                    </tr>
                  </tfoot>
                  <tbody>
                    {% if observaciones %}
                        {% for i in observaciones %}
                        <tr>
                        <td>{{i.nombre}}</td>
                        <td>{{i.fecha_observacion}}</td>
                        <td>{{i.user}}</td>
                        
                        <td>
                            <form method="POST"  action="{% url 'ver_observacion' %}">{% csrf_token %}
                                <button   class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Ver</span>
                                </button>
                                   
                                <input type="hidden" name="observacion" value="{{i.nombre}}">
                            </form> 
                        </td>
                        
                                
                        </tr>
                        
                        
                        
                        {% endfor %}
                    {% endif %}
                    
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}


