{% extends "index.html" %}

{% block pagina %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Observatorios</h1>
    <form method="POST"  action="{% url 'crear_observacion' %}">{% csrf_token %}
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Añadir Observacion</button>
    </form> </div>
{% endblock %}



{% block listado %}
<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Borrado</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Borrar Observatorio Seleccionado</h6>
            </div>
            <div class="card-body">
              <div class="card mb-4 py-3 border-bottom-danger">
                <div class="card-body">
                  Estas seguro que quieres eliminar el Observatorio
                </div>
              </div>
              
              <a href="{% url 'observatorio' %}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-info-circle"></i>
                </span>
                <span class="text">Volver Atras</span>
              </a>
              <a href="{% url 'borrar_confirmado_observatorio' %}" class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text">Eliminar Por completo</span>
              </a>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}


