{% extends "index.html" %}

{% block pagina %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-100">Observaciones</h1>
    <form method="POST"  action="{% url 'crear_observacion' %}">{% csrf_token %}
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Añadir Observacion</button>
    </form> </div>
{% endblock %}


{% block configuraciones %}
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Configuraciones</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div style="background: white;" class=" py-2 collapse-inner rounded">
            <h6 class="collapse-header">Edición:</h6>
            {% if request.user.tipoUsuario == "AT" %}
            <a class="collapse-item active" href="{% url 'observacion' %}">Observaciones</a>
            {% endif %}

            <a class="collapse-item " href="{% url 'observatorio' %}">Observatorios</a>
            
            <a class="collapse-item" href="{% url 'inscripcion' %}">Inscripciones</a>
          </div>
        </div>
      </li>
{% endblock %}

{% block listado %}
<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-100">Borrado</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Borrar Observacion Seleccionada</h6>
            </div>
            <div class="card-body">
              <div class="card mb-4 py-3 border-bottom-danger">
                <div class="card-body">
                  Estas seguro que quieres eliminar la Observacion
                </div>
              </div>
              
              <a href="{% url 'observacion' %}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-info-circle"></i>
                </span>
                <span class="text">Volver Atras</span>
              </a>
              <a href="{% url 'borrar_confirmado_observacion' %}" class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text">Eliminar Por completo</span>
              </a>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}


