{% extends "index.html" %}

{% block pagina %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Observacion</h1>
</div>
{% endblock %}



{% block listado %}
<!-- Begin Page Content -->
        <div style="width: 50%; margin-left: 0; margin-right: 0;" class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Listado</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4 " width='50%'>
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Componentes</h6>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data"  readonly>{% csrf_token %}
                <fieldset disabled="disabled">
                  {{ form.as_p}}
                </fieldset>
                <div style="text-align: center;">
                  <a href="{% url 'listado_observaciones' %}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="text">Volver Atras</span>
                  </a>
                </div>
                
          
            </form>
            
            </div>
          </div>
          

        </div>
        <!-- /.container-fluid -->
{% endblock %}





{% block secundario %}
<div style="margin-left: auto; margin-right: auto;  max-width:48%; flex: auto;" class="col-xl-4 col-lg-5">
  <h1 class="h3 mb-2 text-gray-800">Mapa</h1>
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Mapa Observacion</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      
          <div  id="map" class="map"></div>
          
          <script type="text/javascript">
          
            var lon = "{{longuitud}}"; 
            var lat = "{{latitud}}";
            var nombre= "{{nombre}}";
            var map = new ol.Map({
              target: 'map',
              layers: [
                new ol.layer.Tile({
                  source: new ol.source.OSM()
                })
              ],
              view: new ol.View({
                center: ol.proj.fromLonLat([-3.59, 37.18]), //Esto es para centrar el mapa en las coordenanadas que tu quieras poner a mano, pk todos los restaurantes estan en nueva york
                zoom: 9
              })
            });
            window.onload = function() {
              add_map_point(lon,lat,0,nombre);
            };
          </script>
          <br>
          
          <!-- <a class="btn btn-secondary btn-icon-split" onclick="add_map_point(lon,lat)">
            <span class="icon text-white-50">
              <i class="fas fa-arrow-right"></i>
            </span>
            <span style="color: seashell;" class="text">Mostrar Ubicacion</span>
          </a>                 -->
                        
    </div>
  </div>
</div>



{% endblock %}


