{% extends "index.html" %}

{% block pagina %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Observacion</h1>
</div>
{% endblock %}



{% block listado %}
<!-- Begin Page Content -->
        <div style="width: 50%; margin-left: 0; margin-right: 0;" class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Listado</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4 " width='50%'>
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Componentes</h6>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data"  readonly>{% csrf_token %}
                <fieldset disabled="disabled">
                  {{ form.as_p}}
                </fieldset>
                <div style="text-align: center;">
                  <a href="{% url 'listado_observaciones' %}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="text">Volver Atras</span>
                  </a>
                </div>
                
          
            </form>
            
            </div>
          </div>
          

        </div>
        <!-- /.container-fluid -->
{% endblock %}





{% block secundario %}
<div style="margin-left: auto; margin-right: auto;  max-width:48%; flex: auto;" class="col-xl-4 col-lg-5">
  <h1 class="h3 mb-2 text-gray-800">Mapa</h1>
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Mapa Observacion</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      
          <div  id="map" class="map"></div>
          <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content">Este es el <a href="javascript:;">texto</a> del bocadillo</div>
          </div>
          
          <script type="text/javascript">
          

            var popup = document.getElementById('popup');
            var contenidoPopup = document.getElementById('popup-content');
            var botonCerrarPopup = document.getElementById('popup-closer');

            /**
             * Se crea una "sobrecapa" (overlay) para el popup
             */
              var overlay = new ol.Overlay({
                element: popup,
                autoPan: true,
                autoPanAnimation: {
                  duration: 250
                }
              });
              /**
               * Codigo para ocultar el popup cuando se pulse en la cruz
               * @return {boolean} Don't follow the href.
              */
              botonCerrarPopup.onclick = function() {
                overlay.setPosition(undefined);
                botonCerrarPopup.blur();
                return false;
              };

            var map=mapa(overlay);
            /* hago : ME CREA LA observacion encima y no puedo clickear
            window.onload = function() {
               observaciones();
            /}; 
            */
              observaciones();
            

          
          </script>
          <!-- ------Para los observatorios inscritos------ -->
          {% for i in datos %} 
           <!-- Me creo los div con las coordenadas para hacer POPUP -->
          <div  class="info" data-lon="{{i.0}}" data-lat="{{i.1}}">
            <form style="text-align: center;" method="POST"  action="{% url 'ver_observatorio' %}">{% csrf_token %}
              <button   class="btn btn-warning btn-icon-split">
                  <span class="text">Ver Observatorio</span>
              </button>  
              <input type="hidden" name="observatorio" value="{{i.3}}">
          </form> 
          </div>
          <!-- ------------------------------------------------------------------------ -->
                        
          <script type="text/javascript">
            var lon = "{{i.0}}"; //[-73.8786113 , quito el [
            var lat = "{{i.1}}";//40.8502883] , quito el ]
            var radio= "{{i.2}}";
            var nombre = "{{i.3}}";
            
            //------- CREO EL PUNTO,RADIO,ICONO de cada uno---
            add_point(lon,lat);
            add_ratio(radio);
            // icono(nombre);  //creo el icono en la feature de los POPUP
          </script>
          {% endfor %}

          <script>
            map.on("click", function(e) {
              map.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
                lon = feature.values_.info.getAttribute("data-lon");
                lat = feature.values_.info.getAttribute("data-lat");
                texto = feature.values_.info.innerHTML;
                coordinate = ol.proj.fromLonLat([lon, lat]);
                overlay.setPosition(coordinate);
                contenidoPopup.innerHTML = texto;
                  console.log(texto);
              })
          });

          

            var x = document.getElementsByClassName("info");
            marcas = []
            for (i of x) {
              coor = ol.proj.fromLonLat([i.getAttribute("data-lon"),i.getAttribute("data-lat")]);
              
              marca = new ol.Feature({
                            geometry: new ol.geom.Point(coor),
                            info: i  // En la feature guardamos una referencia al div con su info asociada para luego poder mostrarla cuando se haga click en ella
              });
              iconStyle = [
                  new ol.style.Style({
                      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                          anchor: [0.5, 1],
                          anchorXUnits: 'fraction',
                          anchorYUnits: 'fraction',
                          src: 'https://openlayers.org/en/v3.20.1/examples/data/icon.png',  //EL ICONO ELEGIDO
                      })),
                      text: new ol.style.Text({
                          text: nombre,
                          offsetY: -55,               //MOVEMOS EL TEXTO ARRIBA O ABAJO
                          fill: new ol.style.Fill({
                              color: '#bf1d94'        //COLOR DEL TEXTO
                          })
                      })
                  }),
                
              ];
              marca.setStyle(iconStyle);
              
              marcas.push(marca);
            }
            var layer = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: marcas
                })
            });
            
            map.addLayer(layer);
          </script>
          <br>
          
          
                        
    </div>
    
    {% if request.user.tipoUsuario == "AF" %}
      
        <div style="text-align: center; width: 95%; margin: auto; margin-top: 5%;" class="card bg-secondary text-white shadow">
          <div class="card-body">
            <h5>Seleccione los observatorios aun no inscritos</h5> 
          </div>
        </div>
      
      <div class="card-body">
          <section class="border py-3">
            <div class="form-check checkbox-warning-filled"><h6>Observatorios:</h6>
            <div class="custom-control custom-checkbox">
              <form  method="POST"  action="{% url 'crear_inscripcion_all' %}">{% csrf_token %}
                {% for i in observatorios %}         
                  <label ><input type="checkbox"  name="{{i.nombre}}" value="{{i.nombre}}"> {{i.nombre}}</label><br>  
                {% endfor %}
                <br>
                <div style="text-align: center;">
                  <button class="btn btn-success btn-icon-split" type="submit" >
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Inscribirse</span>
                  </button>
                </div>
              </form>
              
            </div>
             
            </div>
          
          </section>
      </div>

    {% endif %}
    
    
  </div>
</div>



{% endblock %}


