{% extends "index.html" %}

{% block pagina %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Observatorios</h1>
    <form method="POST"  action="{% url 'crear_observacion' %}">{% csrf_token %}
      <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Añadir Observacion</button>
    </form> </div>
{% endblock %}



{% block listado %}
<!-- Begin Page Content -->
        <div style="width: 50%; margin-left: 0; margin-right: 0;"class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Edicion</h1>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Edicion Observatorios</h6>
            </div>
            <div class="card-body">
              <form method="POST"  action="{% url 'modificar_observatorio' %}">{% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-success btn-circle btn-lg" type="submit" >Save</button>
                <a href="{% url 'observatorio' %}" class="btn btn-info btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-info-circle"></i>
                  </span>
                  <span class="text">Volver Atras</span>
                </a>
           <!-- {% if nom_observacion %} Envio el plato viejo, pk a la hora de modificar, debo buscar el viejo eh suplantarlo por el previamente nuevo
                 <input type="hidden" name="observatorio_viejo" value="{{nom_observatorio}}">LO PUEDO HACER CON SESIONES Y ME AHORRO TRABAJA, de echo en borrar lo hare asi 
                {% endif %} -->
            </form>
            <div>
              
            </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}



{% block secundario %}
<div style="margin-left: auto; margin-right: auto;  max-width:48%; flex: auto;" class="col-xl-4 col-lg-5">
  <h1 class="h3 mb-2 text-gray-800">Mapa</h1>
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Mapa de mi Observatorio</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      
      <div id="map" class="map"></div>
      <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content">Este es el <a href="javascript:;">texto</a> del bocadillo</div>
      </div>

          <script type="text/javascript">

            var popup = document.getElementById('popup');
            var contenidoPopup = document.getElementById('popup-content');
            var botonCerrarPopup = document.getElementById('popup-closer');

            /**
             * Se crea una "sobrecapa" (overlay) para el popup
             */
            var overlay = new ol.Overlay({
              element: popup,
              autoPan: true,
              autoPanAnimation: {
                duration: 250
              }
            });

            botonCerrarPopup.onclick = function() {
              overlay.setPosition(undefined);
              botonCerrarPopup.blur();
              return false;
            };
            
            var map=mapa(overlay);
            
            var lon = "{{longuitud}}"; 
            var lat = "{{latitud}}";
            var radio= "{{radio}}";
            var nombre= "{{nombre}}";
              // TENGO QUE QUITAR EL: window.onload = function() {} pk no me muestra los 3 puntos, pk espera a que todo este cargado y solo muestra el ultimo
            add_point(lon,lat);
            add_ratio(radio);
            icono(nombre);

             
            
            map.on('singleclick', function (evt) {
              var coordinate = evt.coordinate;
              // convert coordinate to EPSG-4326  id_latitude   id_longitude
              var coor=ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
              // console.log(coor);
              document.getElementById("id_latitude").value=coor[1];
              document.getElementById("id_longitude").value=coor[0];

              //------- CREO EL POPUP---
              contenidoPopup.innerHTML = 'Coordenadas:<code>' + '<p>'+coor[0]+'<br>'+ coor[1]+'</p> '+'</code>';
              overlay.setPosition(coordinate);
            
              if (map.getLayers().getLength() > 1) {
                map.getLayers().pop();
              }
              
              //------- CREO EL PUNTO---
              var vectorLayer = new ol.layer.Vector({
              source:new ol.source.Vector({
              features: [new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([parseFloat(coor[0]), parseFloat(coor[1])], 'EPSG:4326', 'EPSG:3857')), // Esas cordenadas se las pongo a mano, que es donde estan todos los restaurantes, en NEW YORK,ojo con el orden de lat y lng
              })]
              }),
              style: new ol.style.Style({
              image: new ol.style.Icon({
              anchor: [0.5, 0.5],
              anchorXUnits: "fraction",
              anchorYUnits: "fraction",
              src: "https://upload.wikimedia.org/wikipedia/commons/e/ec/RedDot.svg"
              })
              })
              });

      
               map.addLayer(vectorLayer);
              // map.getLayers().item(1).getSource().clear(); //elimina el iten 1
            });
            
          </script>
          <br>
           
    </div>
  </div>
</div>



{% endblock %}


